/* GUI blend http://gel.westpacgroup.com.au/GUI/WBG/blender/#/_colors:2.0.2/_fonts:2.0.2/_grid:2.0.0/_javascript-helpers:2.0.0/_text-styling:4.0.0/text-extensions:2.0.1/responsive-margins:2.0.1/responsive-toggles:2.0.1/alerts:2.0.1/badges:2.0.2/labels:2.0.3/progress-bars:2.0.1/breadcrumbs:2.0.1/paginations:2.0.2/buttons:3.0.2/checkboxes:2.0.2/input-addons:2.0.2/input-fields:2.0.1/input-groups:2.0.2/radios:2.0.2/switches:2.0.2/icons-base:2.0.1/icons-group01:2.0.1/icons-group02:3.0.0/icons-group03:2.0.0/icons-group04:2.0.0/icons-group05:2.0.0/icons-group06:2.0.0/icons-group07:2.0.0/icons-group08:2.0.0/icons-group09:2.0.0/icons-group10:2.0.0/icons-group11:2.0.0/icons-group12:2.0.0/icons-group13:2.0.0/icons-group14:2.0.0/icons-group15:2.0.0/icons-group16:2.0.1/icons-group17:2.0.0/images:2.0.1/responsive-embeds:2.0.1/list-groups:3.0.0/lists:2.0.3/logos:2.0.3/symbols:2.0.3/modals:2.0.2/popovers:2.0.2/tooltips:2.0.1/panels:2.0.1/tabcordions:4.1.0/wells:2.0.1/tables:2.0.1 */


/* ---------------------------------------| MODULES |--------------------------------------- */

@import '_globalreportstyles_11.4.less';
@import '_colors.less';
@import '_fonts.less';
@import '_grid.less';
@import '_text-styling.less';
@import 'text-extensions.less';
@import 'responsive-margins.less';
@import 'responsive-toggles.less';
@import 'alerts.less';
@import 'badges.less';
@import 'chartist.less';
@import 'labels.less';
@import 'progress-bars.less';
@import 'breadcrumbs.less';
@import 'paginations.less';
@import 'buttons.less';
@import 'checkboxes.less';
@import 'input-addons.less';
@import 'input-fields.less';
@import 'input-groups.less';
@import 'radios.less';
@import 'switches.less';
@import 'icons-base.less';
@import 'icons-group01.less';
@import 'images.less';
@import 'responsive-embeds.less';
@import 'list-groups.less';
@import 'lists.less';
@import 'logos.less';
@import 'symbols.less';
@import 'modals.less';
@import 'popovers.less';
@import 'tooltips.less';
@import 'panels.less';
@import 'tabcordions.less';
@import 'wells.less';
@import 'tables.less';

@header-height: 228px;
@header-fixed-height: 100px;
@left-nav-width: 240px;

.size-test {
	&:before {
		font-size: 24px;
		font-weight: 300;
		color: #fff;
	}
}

body {
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
	background-color: @color-I;
}

article, aside, footer, header, nav, section {
	display: block;
}

textarea, input, button { outline: none; }

.hamburger {
	z-index: 101;
	position: fixed;
	// top: ~"calc(50% - 25px)";
	top: 24px;
	left: 12px;
	display: inline-block;
	padding: 12px 12px;
	width: 50px;
	height: 50px;
	border-width: 0;
	background-color: transparent;
	-webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
	.icon-bar {
		position: absolute;
		display: block;
    background-color: #fff;
    width: 25px;
    height: 0;
    border: 1px solid #fff;
    overflow: hidden;
    text-indent: -99999em;
    -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}
	.icon-bar:nth-child(1) {
		top: 16px;
	}
	.icon-bar:nth-child(2) {
		top: 24px;
	}
	.icon-bar:nth-child(3) {
		top: 32px;
	}
}

.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	.main-content {
		overflow: hidden;
	}
}

.shade-overlay {
	position: fixed;
	z-index: 90;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;	
}

.shade-overlay.show {
	display: block;
}

.hamburger.open {
	.icon-bar:nth-child(1) {
		-webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	  background-color: @color-Text;
	  border-color: @color-Text;
	  top: 24px;
	}
	.icon-bar:nth-child(2) {
		width: 0%;
		opacity: 0;
	  background-color: @color-Text;
	  border-color: @color-Text;
	}
	.icon-bar:nth-child(3) {
		-webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	  background-color: @color-Text;
	  border-color: @color-Text;
	  top: 24px;
	}
}

.sidebar {  
  left: -@left-nav-width;
  width: @left-nav-width;
  transition: left .2s cubic-bezier(.23, 1, .32, 1);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid @color-Border;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding: 0;
  z-index: 100;
  overflow-y: scroll;
  .logo-header {
  	width: @left-nav-width;
  	background-color: #fff;
  	position: fixed;
  	height: @header-fixed-height;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-bottom: 1px solid @color-Border;
  }
  .nav-holder {
  	margin-top: @header-fixed-height;
  	padding: 24px;
  	a {
  		color: @color-Text;
  		text-decoration: none;
  	}
  	.top {
  		display: block;
  	}
  	.primary {
  		font-weight: bold;
  	}
  	ul {
  		margin: 0;
  		padding: 0;
  		list-style: none;
  		width: 100%;
  		overflow: hidden;
  		li {
  			padding: 9px 0;
  			a {
  				display: list-item;
  			}
  			ul {
  				height: 0;  				
  				margin-left: 12px;
  				transition: height 0.2s ease-in-out;
  				li {
  					a {
  						font-weight: 300;
  					}
  				}
  			}
  		}
  	}
  	ul {
  		li.open {
  			ul {
  				height: auto;
  			}
  		}
  	}
  }
}

.sidebar.open {
	position: fixed;
	left: 0px;
}

.header.fixed {	
  position: fixed;
  height: @header-fixed-height;
  .headerline {
		height: @header-fixed-height;
	}
	.headermode {
		height: @header-fixed-height;
		.headermode-links {
			a {
				font-size: 18px;
			}
		}
	}
}

.header {
  position: absolute;
  height: @header-height;
  top: 0;
  left: 0;
	width: 100%;
  right: 0;
  z-index: 80;
  background-color: @color-B;
  transition: padding .2s; 

}

.container {
	width: 100%;
}

.container.content-container {
	max-width: 1200px;
}

.container-fluid {
	display: flex;
}

.main-content {
	margin-top: @header-height;
	margin-left: 0;
	padding-top: 6px;
	transition: margin 0.2s;
}

.main-content.scroll-top {
	padding-top: 80px;
}

.headerline {
	height: @header-height;
}

.header-headline {
  position: absolute;
  bottom: 28px;
  margin: 0;
  font-weight: 300;
  font-size: 44px;
  white-space: nowrap;
  z-index: 2;
  transition: margin .2s ease, font-size .2s ease;
  color: #fff;
}

.header-headline.menued {	
  font-size: 32px;
  margin-left: 42px;
}

.headermode {
	height: @header-height;
  .headermode-links {
	  position: absolute;
	  bottom: 36px;
	  margin: 0;
	  right: 12px;
	  text-align: right;
  	a {
	  	color: rgba(255,255,255,0.5);
  		transition: font-size .2s ease;
	  	font-size: 20px;
	  	text-decoration: none;
	  	font-weight: 300;
	  	&:first-child {
	  		margin-right: 12px;
	  	}
	  }
	  a.active {
	  	color: rgba(255,255,255,1);
	  	font-weight: 500;
	  }
  }  
}


.section-header {
	font-size: 18px;
	font-weight: 300;
	color: @color-D;
}

.dash-card-holder {
	.ct-golden-section {
		height: 50px;
	}
	.graph-header {
		text-transform: uppercase;
	}
	.card {
		background-color: #fff;
		margin-right: 2px;
	}
	.card-main {	
		width: 25%;	
		background-color: #fff;
		margin-right: 18px;		
	}
	.card-main, .card {
		display: flex;
		flex-direction: column;
		.headline-holder {
			.main-callout {
				font-size: 36px;
				font-weight: bold;
				margin-right: 12px;
			}
			.change-text {
				font-size: 14px;
			}
			.change-indicator {
				polygon {
					fill: @color-G;
					stroke: @color-G;
				}
			}
			.change-indicator.dir-down {
				transform: rotate(180deg);
				polygon {
					fill: @color-Warning;
					stroke: @color-Warning;
				}
			}
		}
	}
	.card {
		.headline-holder {
			.main-callout {
				font-size: 18px;
				margin-right: 6px;
			}
		}
	}
}

.symbol-triangle.dir-left {
	-ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}


.symbol-triangle.dir-right {
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.section-controls.fixed {
	position: fixed;
	top: 100px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	hr {
		opacity: 0;
	}
}

.section-controls {
	padding-top: 18px;
	z-index: 2;
	width: 100%;
	transition: background-color .2s ease, box-shadow .2s ease;
	hr {
		margin-bottom: 0;
		margin-top: 12px;
	}
	.btn-group.arrows {
		margin-right: 12px;
	}
	.btn-group {
		.btn-group-item {
			.btn {
				height: 32px;
				padding: 5px 12px;
				.icon.icon-size-sm {
					margin-top: 2px;
				}
			}
		}
	}
	.input-field-select-wrapper {
		height: 32px;
		margin-right: 12px;
		.input-field-select {
			height: 32px;
		}
	}
}

@media (min-width: @screen-lg) {
	.size-test {
		&:before {
			content: 'SIZE: LG';
		}
	}
	.sidebar {
		left: 0;
	}
	.header {
		left: @left-nav-width;
  	width: ~'calc(100% - 240px)';
	}

	.main-content {		
		margin-left: @left-nav-width;
	}

	.section-controls.fixed {
		width: ~'calc(100% - 240px)';
	}

}

@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
	.size-test {
		&:before {
			content: 'SIZE: MD';
		}
	}
	.header {
		left: 0;
		width: 100%;
	}
}

@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
	.size-test {
		&:before {
			content: 'SIZE: SM';
		}
	}

	.dash-card-holder {
		flex-wrap: wrap;
		.card {
			background-color: #fff;
			margin-right: 0;
			margin-top: 12px;
			justify-content: space-between;
			flex: 1 1 15%;
		}
		.card-main {	
			width: 100%;
			margin-right: 0px;
		}
		.card:nth-child(odd) {
			// outline: 1px solid red;
			margin-left: 1%;
			margin-right: 1%;
		}
		.card:first-child {
			margin-left: 0;
		}
		.card:last-child {
			margin-right: 0;
		}

	}
}

@media (max-width: (@screen-sm - 1)) {
	.size-test {
		&:before {
			content: 'SIZE: XS';
		}
	}

	@header-height: 128px;
	@header-fixed-height: 50px;	

	.main-content {
		margin-top: @header-height;
		padding-top: 6px;
	}

	.hamburger {
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		.icon-bar {
		}
		.icon-bar:nth-child(1) {
			top: 16px;
		}
		.icon-bar:nth-child(2) {
			top: 24px;
		}
		.icon-bar:nth-child(3) {
			top: 32px;
		}
	}

	.main-content.scroll-top {
		padding-top: 80px;
	}

	.header-headline {
		font-size: 22px;
	}

	.header-headline.menued {	
	  font-size: 18px;
	  margin-left: 42px;
	}

	.headerline {
		height: @header-height;
	}

	.header.fixed {	
	  height: @header-fixed-height;
	  .headerline {
			height: @header-fixed-height;
		}	
		.headermode {
			height: @header-fixed-height;
			.headermode-links {
				a {
					font-size: 12px;
				}
			}
		}
	}

	.header {
	  height: @header-height;
	  
	}

	.header-headline {
	  bottom: 12px;
	}

	.headermode {
		height: @header-height;
	  .headermode-links {
	  	bottom: 14px;
	  	a {
		  	font-size: 14px;
		  	&:first-child {
		  		margin-right: 0;
		  	}
		  	&:last-child {
		  		margin-left: 12px;
		  	}
		  }
	  }  
	}

	.sidebar {
		.logo-header{
	  	height: @header-fixed-height;
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	border-bottom: 1px solid @color-Border;
	  }
	  .nav-holder {
	  	margin-top: @header-fixed-height;
	  }
	}

	.section-controls.fixed {
		top: @header-fixed-height;
	}

	.section-controls {
		padding-top: 18px;
		z-index: 2;
		width: 100%;
		transition: background-color .2s ease, box-shadow .2s ease;
		hr {
			margin-bottom: 0;
			margin-top: 12px;
		}
		.btn-group.arrows {
			margin-right: 12px;
		}
		.btn-group {
			.btn-group-item {
				.btn {
					height: 32px;
					padding: 5px 12px;
					.icon.icon-size-sm {
						margin-top: 2px;
					}
				}
			}
		}
		.input-field-select-wrapper {
			height: 32px;
			margin-right: 12px;
			.input-field-select {
				height: 32px;
			}
		}
	}

	.dash-card-holder {
		flex-wrap: wrap;
		padding-left: 6px;
		padding-right: 6px;
		.card {
			background-color: #fff;
			margin-right: 0;
			margin-top: 12px;
			justify-content: space-between;
			flex: 1 1 48%;
		}
		.card-main {	
			width: 100%;
			margin-right: 0px;
		}
		.card:nth-child(odd) {
			// outline: 1px solid red;
			margin-left: 1%;
			margin-right: 0;
		}
		.card:first-child {
			margin-left: 0;
		}
		.card:last-child {
			margin-right: 0;
		}
	}

	.section-controls.fixed {
		hr {
			display: block;
		}
	}

	.section-controls {
		padding-top: 12px;
		hr {
			margin-bottom: 0;
			margin-top: 12px;
		}
		.btn-group {
			clear: both;
			display: block;
			margin-bottom: 12px;
			.btn-group-item {
				.btn {
					height: 32px;
					padding: 5px 12px;
					.icon.icon-size-sm {
						margin-top: 2px;
					}
				}
			}
		}
		.input-field-select-wrapper {
			height: 32px;
			margin-right: 0;
			display: block;
			margin-bottom: 6px;
			.input-field-select {
				height: 32px;
				width: 100%;
			}
		}
	}
}

